body {
    background-color: #f9f7fe;
}
a {
    color: #a667ac;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 30px 50px rgb(0, 0, 0, 0.09);
    border-radius: 15px;
    padding: 25px;
}
header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}


.search-input{
    background-color: #f9f7fe;
    border: none;
    border-radius: 5px;
    width: 80%;
    padding:  15px 15px;
    font-size: 16px;
}
.search-btn{
    background-color: plum;
    height: 15px 20px;
    border: none;
    border-radius: 5px;
    padding:  15px 15px;
    color: white;
    font-size: 16px;
}
main {
    padding: 30px 0;
}
.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px
}

.weather-info {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #030303;

}

.weather-info span{
    color: red;
}

.weather-container {
    display: flex;
    justify-content: space-between;
  }
  
  .weather-info {
    display: flex;
    align-items: center;
  }
  
  .weather-icon {
    font-size: 40px;
  }
  
  .weather-temp {
    font-size: 60px;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .weather-units {
    margin-top: 16px;
    font-size: 28px;
  }


footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
}